@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
html, body, nav, footer {
    margin: 0px;
}

.nav {
    display: flex;
    background-color: #1f2937;
}

.header-logo {
    color: white;
    padding-left: 115px;
}

.header-list {
    margin-left: auto;
    display: flex;
    color: white;
    padding-right: 100px;
    justify-content: center;
    align-items: center;
}

.header-list a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 15px;
    padding: 10px;
    font-family: 'Roboto', arial;
}
.main {
    display: flex;
    background-color: #1f2937;
}
.h1 {
    color: #f9faf8;
    font-size: 30px;
    font-weight: bolder;
    padding-left: 100px;
    margin: 0;
    font-family: 'Roboto', arial;
}
.p {
    padding-left: 100px;
    margin: 40px 0 40px 0;
    color: #f9faf8;
    font-size: 15px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.button1 {
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    border-radius: 4px;
    width: 100px;
    height: 25px;
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.main-left {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    margin: 15px;

}
.main-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 40px;
    position: relative;
    left: 155px;
}
.capy {
    height: 50%;
    width: 50%;
}
.card-title {
    color: #1f2937;
    font-size: 36px;
    display: flex;
    justify-content: center;
}
.img-container {
    display: flex;
}
.img-container img {
    margin-left: auto;
    margin-right: auto;
    border: solid lightblue 3px;
    border-radius: 5px;
    margin-bottom: 40px;
}

 .quote {
    background-color: #e5e7eb;
}
.quote-text {
    font-style: italic;
    font-size: 36px;
    padding: 200px;
}

footer {
    background-color: #1f2937;
    color: white;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}